.slideshow-container1{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 1280px;
    background-color: #5C5470;
    padding: 70px 0 80px ;
    margin: 50px auto;
    position: relative;
    border-radius: 8px ;
}
.myslide1{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
    text-align: center;
    animation: fade 3s;
}
.myslide1 h3{
    font-size: 34px;
    letter-spacing: 3px;
    word-spacing: 5px;

}
.myslide1 p{
   font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 8px;

}
.myslide1 img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.same{
    position: absolute;
    top: 39%;
    font-size: 60px;
    font-weight: 900;
    color: yellow;
    cursor: pointer;
}
.left{
   left: 20px; 
}
.right{
    right: 20px;
}